<!-- views/pamonitoring.ejs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datatable</title>
    <% include ../partials/head %>
</head>


<header>
    <% include ../partials/header %>

</header>

<body class="container">
<main>
    <div class="row">
        <div class="col-sm-12">

            <div class="jumbotron">
                <h3>latest sensor data</h3>

                <table class="col-sm-12" class="table table-striped">
                    <tr>
                        <th>rtimestamp</th>
                        <th>sensor_id</th>
                        <th>sensor_type</th>
                        <th>sensor_mid</th>
                        <th>sensor_name</th>
                        <th>sensor_value</th>
                    </tr>

                    <% allSensorData.forEach(function(sensor) { %>
                    <tr>
                        <td><%= sensor.rtimestamp %></td>
                        <td><%= sensor.sensor_id %></td>
                        <td><%= sensor.sensor_type %></td>
                        <td><%= sensor.sensor_mid %></td>
                        <td><%= sensor.sensor_name %></td>
                        <td><%= sensor.sensor_value %></td>
                    </tr>
                    <% }); %>
                </table>
            </div>

        </div>
    </div>
</main>

<footer class="container-fluid bg-4 text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>